<a href="https://colab.research.google.com/github/pauloigorms/ProcessamentoDados/blob/main/PRO_DT_atv1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><strong>PROCESSAMENTO DE DADOS</strong> | Atividade Prática I</h1>

---

**Equipe**:
<ul>
  <li> <b>Paulo Moraes</b> <br /> 
    paulo.moraes@semptcl.com.br <br /> 
    <a href="https://paulomoraes.me" target="_blank">www.paulomoraes.me</a>
  </li>
  <li>
    <b>Cássio de Paula</b> <br /> 
    cassio.pereira@semptcl.com.br<br />
    <a href="https://www.linkedin.com/in/cassio-de-paula" target="_blank">linkedin.com/cassio-de-paula</a>
  </li>
</ul>

<h3><strong>Preparando ambiente</strong></h3>

---

1. Instalar <a href="https://www.anaconda.com/products/individual" target="_blank"><b>Anaconda</b></a>
2. Instalar <a href="https://www.postgresql.org/download/" target="_blank"><b>PostgreSQL</b></a>
    Configuração:
        database: db_atv_1
        username: postgre
        password: 123456
        host: localhost
        port: 5432
3. Executar script <b><i>nothwind.sql</i></b>
4. Executar este notebook

In [ ]:
# IMPORTS LIBS

import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import os

In [ ]:
if not os.path.exists('csv'):
    os.makedirs('csv')

In [ ]:
# CRIANDO CONEXÃO COM BANCO DE DADOS LOCAL

connection = psycopg2.connect(
    user = "postgres",
    password = "123456",
    host = "localhost",
    port = "5432",
    database = "db_atv_1"
)

engine = create_engine('postgresql+psycopg2://postgres:123456@localhost:5432/db_atv_1')

In [ ]:
# 1. OS 10 PRODUTOS MAIS CAROS

cursor = connection.cursor()
cursor.execute(
    """
        select distinct 
            products.product_name as tenmostexpensiveproducts, 
            products.unit_price 
        from products order by products.unit_price desc LIMIT 10
    """
)

products_expen = cursor.fetchall()

pd.DataFrame(products_expen).to_csv('./csv/products_expen.csv', index = False)

In [ ]:
# 2. PEDIDO TRIMESTRAL

cursor = connection.cursor()
cursor.execute(
    """
        select 
            customers.customer_id, 
            customers.company_name, 
            customers.city, 
            customers.country
        from customers right join orders on customers.customer_id = orders.customer_id
        where orders.order_date between '1-1-1996' and '31-12-1996'
    """
)

order_ternal = cursor.fetchall()

pd.DataFrame(order_ternal).to_csv('./csv/order_ternal.csv', index = False)

In [ ]:
# 3. DETALHES DO PEDIDO ESTENDIDO

cursor = connection.cursor()
cursor.execute(
    """
        select distinct  
            order_details.order_id, 
            order_details.product_id, 
            products.product_name, 
            order_details.unit_price, 
            order_details.quantity, 
            order_details.discount, 
            (order_details.unit_price * order_details.quantity * (1 - order_details.discount)/100)*100 as extendedprice
        from products inner join order_details on products.product_id = order_details.product_id
        order by order_details.order_id;
    """
)

order_details = cursor.fetchall()

pd.DataFrame(order_details).to_csv('./csv/order_details.csv', index = False)

In [ ]:
# 4. PRODUTOS POR BAIXO DO VALOR MÉDIO

cursor = connection.cursor()
cursor.execute(
    """
        select distinct 
            product_name, 
            unit_price
        from products where (((unit_price)>(select avg(unit_price) from products)))
        order by unit_price desc
    """
)

products_price_avg = cursor.fetchall()

pd.DataFrame(products_price_avg).to_csv('./csv/products_price_avg.csv', index = False)

In [ ]:
# 5. SUBTOTAL DO PEDIDO

cursor = connection.cursor()
cursor.execute(
    """
        select distinct 
            order_id, sum((unit_price*quantity*(1-discount)/100)*100) as subtotal
        from order_details
        group by order_id
    """
)

sub_order = cursor.fetchall()

pd.DataFrame(sub_order).to_csv('./csv/sub_order.csv', index = False)

In [ ]:
# 6. VENDAS POR ANO (TRABALHO EM EQUIPE)

cursor = connection.cursor()
cursor.execute(
    """
        select 
            extract(year from od.order_date) as ano,
            sum((ordt.unit_price * ordt.quantity)) as total
        from orders as od
        inner join order_details as ordt on od.order_id = ordt.order_id
        group by ano
    """
)

order_year = pd.DataFrame(cursor.fetchall()).rename(columns ={0: 'raw_description', 1:'raw_value'}, inplace=False)
order_year['raw_type_result'] = 1
pd.DataFrame(order_year).to_csv('./csv/order_year.csv', index = False)
order_year.to_sql('raws', engine,  if_exists='append')

In [ ]:
# 7. PRODUTOS VENDIDOS EM 1995

cursor = connection.cursor()
cursor.execute(
    """
    select 
        pr.product_name,
        pr.unit_price
    from orders os
    inner join order_details as ord on os.order_id = ord.order_id
    inner join products as pr on ord.product_id = pr.product_id
    """
)

order_products_1995 = pd.DataFrame(cursor.fetchall()).rename(columns ={0: 'raw_description', 1:'raw_value'}, inplace=False)
order_products_1995['raw_type_result'] = 2
pd.DataFrame(order_products_1995).to_csv('./csv/order_products_1995.csv', index = False)
order_products_1995.to_sql('raws', engine,  if_exists='append')

In [ ]:
# 8. VENDAS POR CATEGORIA

cursor = connection.cursor()
cursor.execute(
    """
        select 
            cat.category_name as category,
            sum(ord.unit_price * ord.quantity) as total
        from order_details ord
        inner join products as pr on ord.product_id = pr.product_id
        inner join categories as cat on pr.category_id = cat.category_id
        group by category
    """
)

df_order_category = pd.DataFrame(cursor.fetchall()).rename(columns ={0: 'raw_description', 1:'raw_value'}, inplace=False)
df_order_category['raw_type_result'] = 3
pd.DataFrame(df_order_category).to_csv('./csv/df_order_category.csv', index = False)
df_order_category.to_sql('raws', engine,  if_exists='append')